# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
parts/
sdist/
var/

# Django stuff:
*.log

# pyenv
.python-version

# Environments
.env
.venv
.idea
env/
venv/
ENV/
env.bak/
venv.bak/

# Directories
/logs
